@import "nulcss.scss";
$maxWidth: 1200;
@mixin adaptfz($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

	/* table of contents 
	- header
	- 
	*/
	h1 {
		@include adaptfz(24, 18);
		font-weight: bold;
		margin: 20px 0 40px 0;
	}
	h2 {
		@include adaptfz(24, 18);
		margin: 40px 0 40px 0;
	}
	h3 {
		@include adaptfz(16, 8);
	}
	body {
		height: 100%;
		font-family: "Comic Sans MS", Arial, sans-serif;
	}
	.wrapper {
		height: 100%;
		max-width: 1600px;
		width: auto;
		margin: 0px auto 0px auto;
		text-align: center;
	}
	.topimg {
		display: flex;
		height: 60%;
		justify-content: center;
	}
	.steps {
		display: flex;
		flex-wrap: wrap;
		margin: 10% 0 10% 0;
	}
	.steps__icons {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 50%;
		padding: 25px;
		margin-top: 20px;
	}
	.steps__icons__items {
		display: flex;
		flex-direction: column;
		margin-right: 10%;
		padding: 5px;
	}
	.steps__title {
		flex: 0 0 50%;
		margin: auto;
	}
	.steps__title p {
		margin-top: 20px;
		@include adaptfz(12, 8);
	}
	footer {
		@include adaptfz(18, 12);
	}
